img{
    width: 100%;
}

.container {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -30%;
  
  }
  
  .countdown {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    flex-wrap: wrap;
  }
  
  .countdown span {
    color: #5f5f5f;
    font-size: 10px;
  }
  
  .countdown div {
    display: grid;
    place-items: center;
    padding: 5px;
  }
  
  .reloj {
    display: grid;
    place-items: center;
    border: solid 2px rgb(238, 238, 205);
    height: 100px;
    width: 50px;
    border-radius: 6%;
    color: rgb(51, 50, 50);
    font-size: 1rem;
    font-weight: bold;
    background-color: #90b5c3;
  }
  
  .final-sms {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: rgb(112, 111, 111);
  }
  
  
  
  @media (max-width: 730px) {
    .reloj {
      float: left;
      height: 30px;
      width: 30px;
      border-radius: 45%;
      color: rgb(107, 107, 107);
      font-size: 12px;
      font-weight: bold;
      background-color: #b7d5efcd;
    }
  
    .countdown {
    
      display: flex;
      justify-content: space-evenly;
      width: 20%;
      flex-wrap: wrap;
      margin-right: 75%;
      margin-top: 40%;
    }
    .click {
      padding: 1px 8px;
      font-size: 14px;
      font-weight: 1200;
      border: none;
      color: rgb(255, 255, 255);
      background-color: #abababbe;
      border-radius: 7px;
      box-shadow: 1px 1px 30px -5px rgb(197, 162, 79);
      cursor: pointer;
      margin-left: 45%;
    }
    .boton{
      margin-top: -69%;
    }
   
   
     }